@font-face {
    font-family: "Plain Regular";
    src: url(./fonts/plain-regular-webfont.ttf);
}

@font-face {
    font-family: "Plain Light";
    src: url(./fonts/plain-light-webfont.ttf);
}

@font-face {
    font-family: "silk serif";
    src: url(./fonts/silkserif-regularitalic-webfont.ttf);
}

@font-face {
    font-family: "silk serif";
    src: url(./fonts/silkserif-lightitalic-webfont.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plain Light";
    color: #fff;
}

html, body {
    height: 100%;
    width: 100%;
}
body {
    overflow-x: hidden;
}
#crsr {
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    border: 1px solid #ffffffbe;
    position: fixed;
    z-index: 999;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
}
#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #030303;
    padding: 25vh 10vw;
}
.line {
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}
#line-1-part-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
#line-1-part-1 h5, #line-1-part-1 h6 {
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
}
#line-1-part-1 h5 {
    width: 5vw;
    text-align: right;
}
.line h1 {
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}
.line h2 {
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes anime {
    0% {
        font-family: 'Plain Light';
        -webkit-text-stroke: 0.5px white;
        color: white;
        font-weight: 500;
        opacity: 1;
    } 
    47% {
        font-family: 'Plain Light';
        -webkit-text-stroke: 0.5px white;
        color: white;
        font-weight: 500;
        opacity: 0;
    } 
    50% {
        font-family: 'silk serif';
        -webkit-text-stroke: 0.5px white;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100% {
        font-family: 'silk serif';
        -webkit-text-stroke: 0.5px white;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}
#main {
    position: relative;
    background-color: #030303;
}

#page-1 {
    height: 100vh;
    width: 100%;
    background-color: #151515;
}
#page-1 #nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 5.5vw;
}
#nav-part-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.7vw;
}
#nav-part-2 h4 {
    font-size: 0.95vw;
    font-weight: 500;
}
.hero {
    /* background-color: red; */
    width: 73%;
    margin-left: 27%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
}
.hero:nth-child(2) {
    margin-top: 16vh;
}
.hero h1 {
    font-size: 7vw;
    font-weight: 590;
    text-transform: uppercase;
    line-height: 7vw;
    position: relative;
}
.hero h2 {
    font-size: 7vw;
    font-weight: 590;
    text-transform: uppercase;
    line-height: 7vw;
    text-decoration: underline;
}
.hero h3 {
    font-size: 7vw;
    font-weight: 590;
    text-transform: uppercase;
    line-height: 7vw;
}
.hero h2:hover {
    -webkit-text-stroke: 2px #fff;
    text-decoration: none;
    color: transparent;
    font-weight: 500;
}
#page-2 {
    height: 100vh;
    width: 100%;
    background-color: #151515;
    padding-top: 15vh;
    position: relative;
}

#video-container {
    height: 65vh;
    width: 71vw;
    position: relative;
    left: 27%;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
}

#video-container img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
}

#video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-cursor {
    background-color: #FFA63D;
    height: 8.5vw;
    width: 8.5vw;
    border-radius: 50%;
    position: absolute;
    top: -12%;
    left: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

#video-cursor i {
    font-size: 2vw;
}

#page-3 {
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
}
#page-4 {
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding: 7vh 0;
}

#page-4-content {
    width: 72vw;
    position: relative;
    margin-left: 27vw;
}

#page-4-content h1 {
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
}
#page-4-content h1::before {
    content: "03";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: -12%;
    top: 7%;
}

#page-4-content .underline {
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 5vw 0;
}

#page-4-content>p {
    font-size: 2.05vw;
    width: 50%;
    margin-bottom: 3vw;
}

#page-4-flex {
    display: flex;
}

#page-4-flex img {
    width: 48%;
}

#page-4-flex p {
    font-size: 0.9vw;
    width: 20%;
    margin-left: 1vw;
}

#page-4-blue-div {
    background-color: #3F7DF4;
    width: 32vw;
    padding: 3vw;
    position: relative;
    top: -27vh;
    margin-left: 23vw;
}

.blue-div-elem {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2vw 0 2.5vw 0;
    border-bottom: 2px solid #ffffff94;
}
.blue-div-elem h4 {
    font-size: 1.6vw;
    font-weight: 500;
}
.blue-div-elem p{
    width: 40%;
    font-size: 1.1vw;
}

#page-4-content .underline-2 {
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 2vw 0;
}

#page-4-content h5 {
    font-size: 0.8vw;
    font-weight: 400;
    margin-left: 1vw;
}

#page-5 {
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding-top: 3vw;
}

.elem-1 {
    white-space: nowrap;
    overflow-x: hidden;
}

.elem-1 h1 {
    font-size: 6vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color: transparent;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 16px;
    animation: elemAnimation 12s linear infinite;
}

@keyframes elemAnimation {
    from {
        transform: translateX(0);
    } 
    to {
        transform: translateX(calc(-100% - 20px));
    }
}
.elem-2 {
    white-space: nowrap;
    overflow-x: hidden;
}

.elem-2 h1 {
    font-size: 6vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color: transparent;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 16px;
    transform: translateX(calc(-100% - 20px));
    animation: elemAnimation 12s linear infinite reverse;
}

.elem-1 span, .elem-2 span {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}

#footer {
    background-color: #151515;
    height: 87vh;
    width: 100%;
    position: relative;
    padding-left: 27vw;
    padding-right: 2vw;
}

#footer h1 {
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
}
#footer h1::before {
    content: "04";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: -12%;
    top: 7%;
}
.underline {
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 3vw 0;
}

#footer-div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 15vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

#footer-div h6{
    font-size: 0.9vw;
    margin-bottom: 1.5vw;
}
#footer-div h5{
    font-size: 1.3vw;
    font-weight: 500;
}

#footer>h5 {
    font-weight: 500;
    font-size: 1vw;
}